h1{
    color: white;
    background-color: rgb(240, 224, 255);
}

.p50
{
    padding: 50px;
}
.nre
{
    height: 100px;
    width: 100px;
    background-color: black;
    display: flex;
    color: azure;
    flex-wrap: wrap;
}
